:root {

    /* PRIMARY */
    --dark-blue-intro-bg: hsl(217, 28%, 15%);
    --dark-blue-main-bg: hsl(218, 28%, 13%);
    --dark-blue-footer-bg: hsl(216, 53%, 9%);
    --dark-blue-testimonials-bg: hsl(219, 30%, 18%);

    /* Accent */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /* background-image: url('./images/bg-curvy-mobile.svg'); */
    background-repeat: no-repeat;
    background-size: 10% 10vh;
    background-color: var(--dark-blue-main-bg);
    color: hsl(0, 0%, 100%);
}

h1,h2,h3,a,button {
    font-family: 'Raleway', sans-serif;
    color:white;
}

h1 {
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: color 0.4s ease-in-out;
}

img {
    display: inline-block;
    width: 100%;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

/* ---------------------------------- UTILS --------------------------------- */
.container {
    max-width: 324px;
    width: 100%;
    margin: auto;
}

.btn {
    background-color: var(--blue);
    padding: 15px 30px;
    width: 80%;
    font-weight: 700;
    border-radius: 40px;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav {
    padding: 20px 0;
    background-color: var(--dark-blue-intro-bg);

}

.nav-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-flex img {
    width: 50%;
}

.navbar {
    display: flex;
}

.navbar li {
    margin-right: 10px;
}

.navbar li a {
    font-size: 0.76rem;
}

.navbar li a:hover {
    color: var(--cyan);
}

/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */
.hero {
    margin-bottom: 60px;
    padding: 30px 12px;
    text-align: center;
    background-color: var(--dark-blue-intro-bg);
}

.hero-content h1, .hero-content p {
    margin: 20px 0;
}


